:root {
  --gray : #252422;
  --red : #F24B4B;
  --active-red : #f53030;
  --middle-active-red : #f33d3d;
  --white : #F2F0D8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}
