.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../../../public/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}